#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp UP_ARROW
                &kp DOWN_ARROW
                &kp LEFT_ARROW
                &kp RIGHT_ARROW
                &kp Z
                &kp SPACE
                &kp R
            >;
        }; 
    };
};